nz-card {
    border-radius: 0.375rem;
    margin: 0.375rem 0 ;
}

.firing-card {
    border-left: 5px solid #E84749;
}

.resolved-card {
    border-left: 5px solid #49AA19;
}

.severity-container {
    display: flex;
    height: 20px;
    padding: 1px 8px;
    align-items: center;
}

.severity-container svg {
    margin-right: 4px;
}

.severity-text {
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

td {
    border: 1px solid #f0f0f0;
    padding: 0.25rem 1rem;
}

tr td:first-child {
    background-color: rgba(240, 240, 240, 0.5);
    text-align: center;
    width: 6.25rem;
}