<mat-toolbar color="primary" style="justify-content: space-between;">
    <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>

    <div style="display: flex;align-items: center;">

        <ul nz-menu nzMode="horizontal">
            <li nz-submenu nzPlacement="bottomCenter" [nzTitle]="'lang' | translate">
                <ul>
                    <li nz-menu-item (click)="translateService.use('zh-CN')">简体中文</li>
                    <li nz-menu-item (click)="translateService.use('en-US')">ENGLISH</li>
                </ul>
            </li>
        </ul>

        <ng-container *ngIf="isDarkTheme; else elseBlock">
            <button mat-icon-button (click)="toggleTheme()">
                <mat-icon>light_mode</mat-icon>
            </button>
        </ng-container>

        <ng-template #elseBlock>
            <button mat-icon-button (click)="toggleTheme()">
                <mat-icon>dark_mode</mat-icon>
            </button>
        </ng-template>

        <a class="github-link" href="https://github.com/GuoXiCheng/angular-sandbox">
            <img src="/assets/img/github-icon.svg" />
            <span>GitHub</span>
        </a>
    </div>

</mat-toolbar>

<mat-sidenav-container style="height: calc(100% - 64px);">
    <mat-sidenav #sidenav [mode]="'side'">
        <div style="display: flex; flex-direction: column">

            <a class="route-link" [ngClass]="isDarkTheme ? 'dark-a': 'light-a'" routerLink="/first"
                routerLinkActive="active" ariaCurrentWhenActive="page">
                {{ 'first-page' | translate }}
            </a>

            <a class="route-link" [ngClass]="isDarkTheme ? 'dark-a': 'light-a'" routerLink="/second"
                routerLinkActive="active" ariaCurrentWhenActive="page">
                Second Component
            </a>

            <a class="route-link" [ngClass]="isDarkTheme ? 'dark-a': 'light-a'" routerLink="/third"
                routerLinkActive="active" ariaCurrentWhenActive="page">
                Third Component
            </a>

            <a class="route-link" [ngClass]="isDarkTheme ? 'dark-a': 'light-a'" routerLink="/fourth"
                routerLinkActive="active" ariaCurrentWhenActive="page">
                Fourth Component
            </a>

            <a class="route-link" [ngClass]="isDarkTheme ? 'dark-a': 'light-a'" routerLink="/fifth"
                routerLinkActive="active" ariaCurrentWhenActive="page">
                Fifth Component
            </a>

            <a class="route-link" [ngClass]="isDarkTheme ? 'dark-a': 'light-a'" routerLink="/sixth"
                routerLinkActive="active" ariaCurrentWhenActive="page">
                Sixth Component
            </a>

            <a class="route-link" [ngClass]="isDarkTheme ? 'dark-a': 'light-a'" routerLink="/seventh"
                routerLinkActive="active" ariaCurrentWhenActive="page">
                Seventh Component
            </a>
        </div>

    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>