<div mat-dialog-content [formGroup]="inputFormGroup">
  <p>
    <mat-form-field appearance="outline">
      <mat-label>名称</mat-label>
      <input
        matInput
        placeholder="Please Input"
        formControlName="formName"
      />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>类型</mat-label>
      <mat-select formControlName="formType">
        <mat-option *ngFor="let type of typeList" [value]="type">{{
          type
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </p>
</div>